#header {
    background-color: #f9f5f5;

}

.title{
    font-size:25px;
    padding-top: 10px;
    padding-left: 5px;

}

nav{
    float: right;
    margin-top: -44px;
    margin-right: -45px;
}

ul{
    list-style: none;

}


li{
    display: inline-block;
    padding-top: 10px;
    padding-right: 58px;

}

nav a{
    text-decoration: none;
    color:#928d8d;;
    font-size:16px;
}

nav a:hover{
    color:black;
}

.img-responsive {
    height: 700px;
    width: 100%;
}

#section_1{
    border-bottom: 1px solid #ccc ;
}




p.grey{
   color: #5d5a5a;
}

.section1{
    text-align: center;
    color:#928d8d;
    font-size:25px;
    padding-top:20px;

}

#section_2{
    margin-top:40px;
}

.row{
    padding-top:5px;
}


.col-xs-3 img:hover{
    opacity: 0.6;
 }

.span—1{
    height: 225px;
    padding-left: 5px;
}

#section_3{
    border-bottom: 1px solid #ccc ;
    margin-top：40px;
}

p.span_2{
    font-size:20px;
}

#section_4{
    margin-top: 33px;
    width: 100%;
    height: 398px;
    padding-top: 99px;
    background-color: #b3e0d3;
}

.col-xs-10{
    background-color:#e5f1d7;
}

.span_3{
    text-align: center;
    font-size: 25px;


}

.green-pic {
    width: 170px;
    margin-left: 47px;
    margin-top: 54px;
}


.col-xs-3 p{
    margin-top:20px;
}

.nav{
    margin-top:10px;
    margin-right:10px;
}

.col-xs-5{
    text-align: center;
    margin-top: 40px;
}



p.span_4{
    font-size:25px;
    text-align: center;
}

p.span_5{
    color: #635d5d;
    padding-top: 18px;
    font-size: 13px;
    text-align: left;
    margin-left: 70px;
    margin-top: 12px;
}

#section_5{
    margin-top:34px;
}

h3{
    margin-top: -20px;
    margin-bottom: 10px;
}