#header {
    background-color: #f9f5f5;

}

.title{
    font-size:25px;
    padding-top: 10px;
    padding-left: 5px;

}

nav{
    float: right;
    margin-top: -44px;
    margin-right: -45px;
}

ul{
    list-style: none;

}


li{
    display: inline-block;
    padding-top: 10px;
    padding-right: 55px;
    cursor: pointer;

}

nav a{
    text-decoration: none;
    color:#928d8d;;
    font-size:16px;
}

nav a:hover{
    color:black;
}

.img-responsive {
    height: 700px;
    width: 100%;
}

#section_1{
    border-bottom: 1px solid #ccc ;
}


p.grey{
   color: #5d5a5a;
}

.section1{
    text-align: center;
    color:#928d8d;
    font-size:25px;
    padding-top:20px;

}

#section_2{
    margin-top:30px;
}

.row{
    padding-top:5px;
}


.col-xs-3 img:hover{
    opacity: 0.6;
 }

.span—1{
    height: 225px;
    padding-left: 5px;
}

#section_3{
    border-bottom: 1px solid #ccc ;
    margin-top：20px;
}

p.span_2{
    font-size:20px;
}